.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .currencyInputContainer {
    margin-bottom: 25px;
  }

  .convertedValuesContainer {
    overflow-y: auto;
    max-height: 485px;
    width: 500px;

    .convertedValue {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      background: aliceblue;
      border: 1px solid burlywood;
    }
  }
}






