.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.currencyRow {
  background: #fdfdfd;
  padding: 6em 3em;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: flex;
}

.currencySwitch svg {
  stroke: black;
  font-size: 32px;
  cursor: pointer;
}