.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .app-info {
    max-width: 800px;
    margin: 0 auto;

    h2 {
      font-size: 2em;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.1em;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 1.5em;
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }
}




