.nav {
  height: 100px;

  .list {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    margin: 10px auto;
    list-style-type: none;
    padding-left: 0;

    .listItem {
      font-size: 28px;

      a {
        text-decoration: none;
        color: white;
        font-weight: 600;

        &:hover a {
          color: white;
        }
      }
    }
  }
}

.active {
  color: white;
  text-decoration: none;
  opacity: 0.35;
  cursor: default;
}


@media (min-width: 320px) and (max-width: 480px) {
  .list {
    padding: 0 10px;

    .listItem {
      font-size: 22px;
    }
  }
}
